/* common shared styles */
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Sofia", cursive;
  font-family: "Teko", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}

.primary-btn {
    border-radius: 5px;
    background: #fd6e0a;
    border: 0;
    color: white;
    font-size: 20px;
    padding: 18px 35px 19px 36px;
    font-weight: 700;
  }
/* Nav related style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}


